.item h2 {
    padding: 10px 0px 0px 0px;
}
.item span {
    font-size: 1.2em;
    line-height: 3em;
}

.index_left_text {
    min-height: 90px;
    height:auto;
    margin: 0px 0px 15px 80px;
}
.teacher_left_text {
    min-height: 150px;
    height:auto;
    margin: 0px 0px 15px 120px;
}

.index_left_img {
    display:block;
    float: left;
    margin: 0px 0px 0px 10px;
}

.index_left h2 {
    margin: 0px 0px 0px 10px;
    padding-bottom: 5px;
    line-height: 40px;
}

.student_comment_img {
    width: 50px;
    float: left; padding-right: 10px; padding-top: 5px;
}

.comment {
    min-height: 70px;
    height: auto;
    margin: 0px 0px 20px 0px;
}

.news_img{
    width: 400px;
    margin-left: 80px; margin-bottom: 10px;
}

.news_title {
    margin: 12px 0px;
}

.news_text p {
    margin: 0px 20px 10px 20px;
}

.text_box h3 {
    margin: 0px 0px 0px 10px;
}

.index_right img {
    margin: 5px 0px 0px 0px;
}

.about_left {
    float: left;
    width: 544px;
    padding-right: 30px;
    padding-left: 10px;
}
.about_left h2 {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.about_left p {
    font-size: 1.3em;
    line-height: 1.8em;
}


.about_left p .left {
    float: left;
}

.about_left p .right {
    float:right;
}

a.document_title {
    color: #046CB5;
    font-size: 1.2em;
    line-height: 2em;
}

a.document_title:hover {
    font-style: italic;
}